@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --color-primary: #EB954B;
    --color-primary-contrast:#81440E;
    --text-color: black;
    --text-color-contrast: white;
    --background-color: white;
    --paper-color: white;
    --box-shadow: 2px 2px 18px 5px rgb(0 0 0 / 11%);
    --section-padding: 3%;
}

body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

main {
    overflow: hidden;
}

nav {
    position: relative;
    width: 308px;
    top: 0;
    z-index: 1;
    right: 0;
}

nav ul {
    display: inline-flex;
    list-style: none;
    padding-left: 0px;
    justify-content: space-around;
}

nav ul li {
    padding: 11px;
}

nav ul a {
    color: var(--color-primary-contrast);
    text-decoration: none;
}

.flex {
    display: flex;
    flex-flow: wrap;
    position: relative;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
    gap: 50px;
}